@page "/system"
@using MediaHelper.Blazor.App.Services
@using MediaHelper.Model
@using Series = SonarrSharp.Models.Series
@inject ApiClient Client
@inject FileNavigationService FileNavigationService


<div class="container">
    <h1>System</h1>


    <h3>Navigation</h3>


    @if (Dirs == null)
    {
        <p>Loading...</p>
    }
    else
    {
        if (!FileNavigationService.IsCurrentDrivePath(_currentFilePath))
        {
            if (FileNavigationService.CanGoBack(_currentFilePath))
            {
                <a href="javascript:void(0)" onclick="@(() => GoBack(_currentFilePath))">
                    <p>@("Back")</p>
                </a>
            }
            else
            {
                <a href="javascript:void(0)" onclick="@(async () => await DisplaySystemDrives())">
                    <p>@($"Drives")</p>
                </a>
            }
        }
        foreach (var dir in Dirs)
        {
            <a href="javascript:void(0)" onclick="@(async() => await GotoFilePath(dir))">
                <p>@dir</p>
            </a>
        }
    }
</div>


@functions
{

    private string[] Dirs { get; set; }
    private string _currentFilePath { get; set; }

    
    protected override async Task OnInitAsync()
    {
        await DisplaySystemDrives();
    }

    async Task DisplaySystemDrives()
    {
        Dirs = await Client.System.GetSystemDrives();
        _currentFilePath = Dirs[0];
    }

    async Task GotoFilePath(string filePath)
    {
        _currentFilePath = filePath;
        Dirs = await Client.System.GetFoldersAndDirectorys(filePath);
    }


    private async Task GoBack(string currentFilePath)
    {
        var res = await FileNavigationService.Back(currentFilePath);
        _currentFilePath = res.NewPath;
        Dirs = res.Dirs;
        StateHasChanged();
    }

}